{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'sajt/images/ico/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'sajt/images/ico/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'sajt/images/ico/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'sajt/images/ico/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'sajt/images/ico/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'sajt/images/ico/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'sajt/images/ico/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'sajt/images/ico/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'sajt/images/ico/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'sajt/images/ico/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'sajt/images/ico/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'sajt/images/ico/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'sajt/images/ico/favicon-16x16.png' %}">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'sajt/images/ico/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">

     <title>Dečiji lekar u Obrenovcu - Dr Slobodanka Vukosavljević</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="Deciji lekar pedijatar Obrenovac">
     <meta name="keywords" content="Deciji lekar, pedijatar, u Obrenovcu, Obrenovac,dr Slobodanka , dr Vukosavljevic, Slobodanka Vukosavljevic">
     <meta name="author" content="Miloš">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <meta property="og:title" content="Deciji lekar pedijatar Slobodanka Vukosavljevic">
     <meta property="og:description" content="dr Vukosavljevic, dr Slobodanka Vukosavljevi, pedijatar Vukosavljevic, deciji lekar Slobodanka Vukosavljevic">
    <meta property="og:url" content="http://www.decijilekar.rs">



     <link rel="stylesheet" href="{% static 'sajt/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'sajt/css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'sajt/css/animate.css' %}">
     <link rel="stylesheet" href="{% static 'sajt/css/owl.carousel.css' %}">
     <link rel="stylesheet" href="{% static 'sajt/css/owl.theme.default.min.css'  %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'sajt/css/tooplate-style.css' %}">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>

          </div>
     </section>


     <!-- HEADER -->
     <header>
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-5">
                         <p> <strong>Ordinacija Dečiji lekar u Obrenovcu</strong></p>
                    </div>

                    <div class="col-md-8 col-sm-7 text-align-center">
                      <a href= "tel:0644220590"><span class="phone-icon"><i class="fa fa-phone"></i> 064-4220590</span></a>
                      <a href="viber://chat?number=0644220590"><span class="phone-icon">Viber poruka</span></a>
                      <span class="date-icon"><i class="fa fa-calendar-plus-o"></i>Ponedeljak-Petak : 10:00 - 12:00  i  16:00 - 19:00</span>

                    </div>

               </div>
          </div>
     </header>

     {% if message %}
     <h2>Hvala što ste poslali poruku </h2>
     {% else %}

     <!-- MENU -->
     <section class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->

                    <a href="#" class="navbar-brand">Pedijatar Slobodanka Vukosavljević</a>
               </div>




               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="#top" class="smoothScroll">Home</a></li>
                         <li><a href="#about" class="smoothScroll">O meni</a></li>
                         <li><a href="#news" class="smoothScroll">Usluge</a></li>
                        <li><a href="#cenovnik" class="smoothScroll">Cenovnik</a></li>
                         <li><a href="#google-map" class="smoothScroll">Kontakt</a></li>
                         <li class="appointment-btn"><a href="#appointment">Pošaljite poruku</a></li>
                    </ul>
               </div>

          </div>
     </section>
{% endif %}

     <!-- HOME -->
     <section id="home" class="slider" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                         <div class="owl-carousel owl-theme">
                              <div class="item item-first">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10">
                                             <h3>Brinem o zdravlju Vaše dece</h3>
                                             <h1>30 godina iskustva</h1>
                                             <a href="#about" class="section-btn btn btn-default smoothScroll">O meni</a>
                                        </div>
                                   </div>
                              </div>

                             <div class="item item-second">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10">
                                             <h3></h3>
                                             <h1>U centru Obrenovca</h1>
                                             <a href="#google-map" class="section-btn btn btn-default btn-gray smoothScroll">Pronađi</a>
                                        </div>
                                   </div>
                              </div>

                              <div class="item item-third">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10">
                                             <h3>Propisivanje terapije elektronskim putem</h3>
                                             <h1>e Recept</h1>
                                             <a href="#news" class="section-btn btn btn-default btn-blue smoothScroll">Opširnije</a>
                                        </div>
                                   </div>
                              </div>
                         </div>

               </div>
          </div>
     </section>


     <!-- ABOUT -->
     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.6s">Dobro došli u ordinaciju Dečiji lekar</h2>
                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <p>Pedijatrijska ordinacija “Dečiji lekar” u Obrenovcu  je renomirana  pedijatrijska ordinacija, čiji rad je zasnovan na dugogodišnjem poverenju dobijenom od strane roditelja.</p>
                                   <p>Zahvaljujući stručnosti, predanosti i velikom profesionalnom iskustvu <strong> pedijatra dr Slobodanke Vukosavljević</strong>, ordinacija pruža pouzdane i kvalitetne medicinske usluge vašoj deci.</p>
                                   <p>Želim da moji mali i veliki pacijenti dobiju brzu i sigurnu brigu i adekvatno lečenje, a u skladu sa najvišim svetskim standardima. </p>

                              </div>
                              <figure class="profile wow fadeInUp" data-wow-delay="1s">
                                   <img src="{% static 'sajt/images/IMG_4215.jpg' %}" class="img-responsive" alt="">
                                   <figcaption>
                                        <h3>Dr Slobodanka Vukosavljević</h3>
                                        <p><em>Vlasnik i direktor</em></p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>

               </div>
          </div>
     </section>






     <!-- NEWS -->
     <section id="news" data-stellar-background-ratio="2.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <!-- SECTION TITLE -->
                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                              <h2>Usluge koje ordinacija nudi</h2>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">

                                   <img src="{% static 'sajt/images/erecept0.png' %}" class="img-responsive" alt="">

                              <div class="news-info">
                                   <span></span>
                                   <h3>e Recept</h3>
                                   <p>Od 2019. godine postoji mogućnost propisivanja terapije preko elektronskog recepta. Propisivanje lekova je
                                   kao i u državnim insistuacijama i lekove je moguće podići besplatno u svim državnim i privatnim apotekama.</p>

                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">

                                   <img src="{% static 'sajt/images/otoskop.png' %}" class="img-responsive" alt="">

                              <div class="news-info">
                                   <span></span>
                                   <h3>Pregled ušiju</h3>
                                   <p>Pored pedijatrijskog pregleda dece, moguć je i pregled ušiju otoskopijom.</p>

                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- NEWS THUMB -->
                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.8s">

                                   <img src="{% static 'sajt/images/babyrash2.jpg' %}" class="img-responsive" alt="">

                              <div class="news-info">
                                   <span></span>
                                   <h3>Pregledi kože</h3>
                                   <p>Takođe su mogući i dermatološki pregledi od strane konsultanta, specijaliste dermatovenerologije.</p>

                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>

  <!-- CENONVNIK -->
  <section id="cenovnik" data-stellar-background-ratio="2.5">
       <div class="container">
            <div class="row">

                 <div class="col-md-12 col-sm-12">
                      <!-- SECTION TITLE -->
                      <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                           <h2 style="text-align: center;">Cenovnik</h2>
                      </div>
                 </div>

                 <div class="col-md-12 col-sm-6">

                      <table class="table table-hover">
                    		  <tbody>
                    			<tr>
                    			  <td>Prvi pregled dece i omladine radi lečenja</td>
                    			  <td align="right">2.000,00</td>
                    			</tr>
                    			<tr>
                    			  <td>Kontrolni pregled dece i omladine</td>
                    			  <td align="right">1.000,00</td>
                    			</tr>
                    			<tr>
                    			  <td>Kratka poseta lekaru</td>
                    			  <td align="right">800,00</td>
                    			</tr>
                    			<tr>
                    			  <td>Sistematski pregled odojčadi i male dece</td>
                    			  <td align="right">2.000,00</td>
                    			</tr>


                    		  </tbody>
                    		  </table>
    </div>
</div>
</section>

     <!-- MAKE AN APPOINTMENT -->
     <section id="appointment" data-stellar-background-ratio="3">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <img src="{% static 'sajt/images/about-bg222.png' %}" class="img-responsive" alt="">
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <!-- CONTACT FORM HERE -->
                         <form action= "{% url 'contact' %}" id="appointment-form" role="form" method="post" >
                              {% csrf_token %}
                              <!-- SECTION TITLE -->
                              <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                                   <h2> &nbsp; Pošaljite poruku</h2>
                              </div>

                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <div class="col-md-6 col-sm-6">
                                        <label for="name">Ime i prezime</label>
                                        <input type="text" class="form-control" id="name" name="name" required placeholder="Ime i prezime" >
                                   </div>

                                   <div class="col-md-6 col-sm-6">
                                        <label for="email">Broj telefona</label>
                                        <input type="text" class="form-control" id="telefon" name="telefon"required placeholder="Vaš broj telefona" >
                                   </div>

                                   <div class="col-md-12 col-sm-12">
                                        <label for="Message">Tekst poruke</label>
                                        <textarea class="form-control" rows="5" id="message" name="message" required placeholder="Unesite tekst" ></textarea>
                                      <button type="submit" class="form-control" id="cf-submit" name="submit" >Pošaljite poruku</button>
                                   </div>
                              </div>
                        </form>
                    </div>

               </div>
          </div>
     </section>
<br>

     <!-- GOOGLE MAP -->
     <section id="google-map">
     <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
	-->

          <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=vuka%20karadzica%2042%20obrenovac&t=&z=13&ie=UTF8&iwloc=&output=embed&z=16" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
     </section>


     <!-- FOOTER -->
     <footer data-stellar-background-ratio="5">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-4">
                         <div class="footer-thumb">
                              <h4 class="wow fadeInUp" data-wow-delay="0.4s">Kontakt Info</h4>
                              <p>Ordinaciija se nalazi u centru Obrenovca <br>na adresi Vuka Karadžića 42</p>

                              <div class="contact-info">
                                   <p><a href= "tel:0644220590"><i class="fa fa-phone"></i>064-4220590</p>
                                   <p><i class="fa fa-envelope-o"></i> <a href="mailto: deciji.lekar.slobodanka@gmail.com">deciji.lekar.slobodanka@gmail.com</a></p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="footer-thumb">
                              <h4 class="wow fadeInUp" data-wow-delay="0.4s">Usluge</h4>
                              <div class="latest-stories">
                                   <div class="stories-image">
                                        <a href="#news"><img src="{% static 'sajt/images/e recept1.jpg' %}" class="img-responsive" alt=""></a>
                                   </div>
                                   <div class="stories-info">
                                        <a href="#news"><h5>e Recept</h5></a>
                                        <span><em>Mart, 2019</em></span>
                                   </div>
                              </div>

                              <div class="latest-stories">
                                   <div class="stories-image">
                                        <a href="#news"><img src="{% static 'sajt/images/oto.jpg' %}" class="img-responsive" alt=""></a>
                                   </div>
                                   <div class="stories-info">
                                        <a href="#news"><h5>Pregledi kože i uha</h5></a>
                                        <span><em>Februar, 2016</em></span>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="footer-thumb">
                              <div class="opening-hours">
                                   <h4 class="wow fadeInUp" data-wow-delay="0.4s">Radno vreme</h4>
                                   <p>Ponedeljak - Petak: </p>
                                   <ul>
                                     <span>
                                     <li>10:00 - 12:00</li>
                                     <li>16:00 - 19:00</li>
                                   </span>
                                 </ul>
                                 <br>
                                   <p>Subota i Nedelja: <span>Ne radi</span></p>

                             </div>

    <!--                        <ul class="social-icon">
                                   <li><a href="https://www.facebook.com/tooplate" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>       -->
                         </div>
                    </div>
                    <div class="col-md-12 col-sm-12 border-top">
                       <div class="col-md-4 col-sm-6">
                            <div class="copyright-text">
                                 <p>Copyright &copy; 2021

                                 | Design: <a href = "mailto: milos.vukosavljevicc@gmail.com" target="_parent">Miloš</a></p>
                            </div>
                       </div>

                       <div class="col-md-4 col-sm-1 text-align-center">
                            <div class="angle-up-btn">
                                <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i class="fa fa-angle-up"></i></a>
                            </div>
                       </div>

                  </div>

               </div>
          </div>
     </footer>

     <!-- SCRIPTS -->
     <script src="{% static 'sajt/js/jquery.js' %}"></script>
     <script src="{% static 'sajt/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'sajt/js/jquery.sticky.js' %}"></script>
     <script src="{% static 'sajt/js/jquery.stellar.min.js' %}"></script>
     <script src="{% static 'sajt/js/wow.min.js' %}"></script>
     <script src="{% static 'sajt/js/smoothscroll.js' %}"></script>
     <script src="{% static 'sajt/js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'sajt/js/custom.js' %}"></script>

</body>
</html>
